venv/
final/code/.idea/*
final/code/beamSelection/__pycache__/
final/code/preProcessing/__pycache__/
final/data/

exemplos/FFNN/data/
exemplos/Sonar/data/
exemplos/gps/data/
final/results

.DS_Store
.gitignore
final/.DS_Store
final/code/.DS_Store
final/code/beamSelection/.DS_Store